body {
    font-family: 'Roboto', sans-serif;
}

#googledocs {
    margin-top: 14vw;
    margin-left: 27vw;
    max-width: 1600px;
    max-height: 2200px;
    visibility: hidden;
}
#tablet {
	position: relative;
	top: 25%;
	width: 1600px;
	height: 625px;
	margin: auto;
	border: 20px black solid;
	border-top-width: 20px;
	border-bottom-width: 20px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}
